build_task: pipelines/gradle/tasks/gradle-assemble.yml # don't change
deploy_dev_task: pipelines/gradle/tasks/blue-green-deploy.yml # don't change

app_name: company # don't change
jar_name: # set this to '<first_initial><lastname>-company' ex: sgreenberg-company

github_app_repo_uri: # https url of your company app github fork.  ex: https://github.com/spgreenberg/company-initial.git
github_app_repo_branch: master # don't change

github_pipelines_repo_uri: # https url of your training-pipelines-initial fork.  ex: https://github.com/spgreenberg/training-pipelines-initial.git
github_pipelines_repo_branch: master # don't change

version_bucket: rscale-training-bucket # don't change
version_bucket_region_name: us-west-2 # don't change

version_key: # set to '<first_initial><lastname>-company-version'.  ex: sgreenberg-company-version
initial_version: 0.0.1

artifact_regexp: # set to '<first_initial><lastname>-company-(.*).jar'.  ex: sgreenberg-company-(.*).jar
artifact_bucket: rscale-training-bucket # don't change
artifact_bucket_region_name: us-west-2 # don't change

cf_dev_api: # set to cf api endpoint
cf_dev_organization: # set to your org
cf_dev_space: # set to your space
cf_dev_hostname: # set to 'company-<first_initial><lastname>'. ex: company-sgreenberg
cf_dev_domain: # set to the apps domain for your CF
cf_dev_manifest: # set to the dev manifest path in your company app repository. ex: dev-manifest.yml
